/* 
    Created on : 18.2.2015, 19:47:15
    Author     : Jiří Ludvar <ludvar.jiri@gmail.com>
*/
@media  (min-width: 768px){
    html{
        font-size: 1em;
    }
    #header{
        background: url(../gfx/bg_mobile.jpg) -305px -145px no-repeat;
        padding: 450px 0 350px;

        .request{
            max-width: 425px;
            padding: 0;
        }
    }
    #menu{
        height: 70px;
        line-height: 70px;

        li {
            width: auto;
            float: none;

            a{
                height: 70px;
                padding: 0 30px;

            }
        }
    }

    #about{
        background: url(../gfx/macbook.png) 580px 155px no-repeat;
        padding: 245px 0;
        
        .inner{
            width: 680px;
            float: left;
        }
    }
    .request{
        .email, .submit{
            height: 50px;
            line-height: 50px;
            font-size: 1em;
        }
        .submit{
            margin-top: -50px;
        }

    }

}