/* 
    Created on : 18.2.2015, 19:47:15
    Author     : Jiří Ludvar <ludvar.jiri@gmail.com>
*/
@media  (min-width: 768px){
    html{
        font-size: 1em;
    }
    .container{
        max-width: 960px;
        margin: 0 auto;
    }
    #header{
        background: url(../gfx/bg.jpg) 50% -310px no-repeat;
        @media (min-device-pixel-ratio: 1.5){
            background: url(../gfx/bg_2x.jpg) 50% -310px no-repeat;
            background-size: 1548.5px 1035.5px;
        }
        padding: 150px 0;
        height: 650px;

        h1{
            margin: 25px 0;
        }
    }
    #menu{
        height: 70px;
        line-height: 70px;

        &.fixed{
            position: fixed;
            top: 0;
            background: #232323;
            z-index: 50;

            .inner{
                max-width: 960px;
            }
            .logo_small{
                display: block;
                margin: 10px 0;
                float: left;
            }
            ul{
                float: right;
            }
        }

        li{
            width: auto;
            float: none;
            margin: 0 15px;

            a{
                height: 70px;
                padding: 0 20px;
            }
        }
    }
    #about{
        background: url(../gfx/macbook.png) 640px 155px no-repeat;
        @media (min-device-pixel-ratio: 1.5){
            background: url(../gfx/macbook_2x.png) 640px 155px no-repeat;
            background-size: 754px 437.5px;
        }

        padding: 245px 0;
        height: 735px;

        .inner{
            width: 680px;
        }
        .btn{
            display: inline-block;
        }
    }
    #everywhere{
        text-align: center;
        padding: 105px 0;
        height: 700px;

        .inner{
            width: 800px;
            margin: 0 auto;
        }
        .nowrap{
            min-width: 760px;
            margin: 0 auto;
            padding: 60px 0;
            overflow: hidden;
        }
        .box{
            width: 100% / 3 !important;
            margin: 0;

            &.mobile{
                .icon{ 
                    background: url(../gfx/e_mobile.png) 50% 100% no-repeat;
                    @media (min-device-pixel-ratio: 1.5){
                        background: url(../gfx/e_mobile_2x.png) 50% 100% no-repeat;
                        background-size: 97px 182px;
                    }
                }
            }
            &.desktop{
                .icon{ 
                    background: url(../gfx/e_desktop.png) 50% 100% no-repeat;
                    @media (min-device-pixel-ratio: 1.5){
                        background: url(../gfx/e_desktop_2x.png) 50% 100% no-repeat;
                        background-size: 243px 145px;
                    }
                }
            }
            &.web{
                .icon{ 
                    background: url(../gfx/e_web.png) 50% 100% no-repeat;
                    @media (min-device-pixel-ratio: 1.5){
                        background: url(../gfx/e_web_2x.png) 50% 100% no-repeat;
                        background-size: 166px 181px;
                    }
                }
            }
        }
        .icon{
            height: 215px;
            span{
                display: block;
            }
        }
    }
    #task{
        padding: 0;

        .inner{
            margin-left: 400px;
            max-width: 700px;
        }
        .container{
            background: #f2f6f7 url(../gfx/iphone.png) -50px -235px no-repeat;
            @media (min-device-pixel-ratio: 1.5){
                background: url(../gfx/iphone_2x.png) -20px -235px no-repeat;
                background-size: 457.5px 1038.5px;
            }
            padding-top: 240px;
            height: 580px;
        }
    }
    #features{
        overflow: hidden;
        padding: 170px 0;

        .inner{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        .box{
            width: 100% / 3;
            float: left;
            padding: 0 25px;
            text-align: center;

            h2{
                margin-bottom: 30px;
            }
        }
        .icon{
            height: 150px;
        }
    }
    #signup{
        text-align: center;

        .request{
            padding: 35px 0;
        }
        .inner{
            max-width: 768px;
            margin: 0 auto;
        }
    }

    .request{
        width:425px;
        padding: 0;
        margin: 0 auto;

        .email, .submit{
            height: 50px;
            line-height: 50px;
        }
        .email{
            width: 310px;
            padding: 0 20px;
        }
        .submit{
            width: 115px;
            float: none;
            margin-top: 0;
        }
    }

}

.fb, .twitter{
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 0 5px;
}
.fb {
    span{
        width: 7px;
        height: 17px;
        background: url(../gfx/icons/sm.png) 0 -70px no-repeat;
        @media (min-device-pixel-ratio: 1.5){
            background: url(../gfx/icons/sm_2x.png) 0 0 no-repeat;
            background-size: 23px 33px;
        }
    }
    &:hover span, &:active span{
        background: url(../gfx/icons/sm.png) 0 -88px no-repeat;
        @media (min-device-pixel-ratio: 1.5){
            background: url(../gfx/icons/sm_2x.png) 0 -17px no-repeat;
            background-size: 23px 33px;
        }
    }
}
.twitter {
    span{
        width: 16px;
        height: 14px;
        background: url(../gfx/icons/sm.png) -9px -70px no-repeat;
        @media (min-device-pixel-ratio: 1.5){
            background: url(../gfx/icons/sm_2x.png) -8px 0px no-repeat;
            background-size: 23px 33px;
        }
    }
    &:hover span, &:active span{
        background: url(../gfx/icons/sm.png) -9px -88px no-repeat;
        @media (min-device-pixel-ratio: 1.5){
            background: url(../gfx/icons/sm_2x.png) -8px -17px no-repeat;
            background-size: 23px 33px;
        }
    }
}


@media (min-width: 1280px){
    #header{
        background: url(../gfx/bg_big.jpg) 50% -260px no-repeat;
        height: 1280px;
        padding: 450px 0;

        h1{
            margin: 25px 0;
        }
    }
    #about{
        background: url(../gfx/macbook.png) 115% 155px no-repeat;

        .inner{
            width: 480px;
            padding: 0;
        }
    }
}
@media (min-width: 1600px){
    #about{
        background: url(../gfx/macbook.png) 90% 155px no-repeat;
    }
}